@import "tailwindcss";

@font-face {
  font-family: 'Walsheim';
  src: url('/assets/fonts/GT-Walsheim-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Walsheim';
  src: url('/assets/fonts/GT-Walsheim-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Option A: Override the default sans font so it applies to EVERYTHING automatically */
  /* --font-sans: 'Walsheim', ui-sans-serif, system-ui, sans-serif; */

  /* Option B: Create a specific utility class like `font-display` */
  --font-display: 'Walsheim', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: #000000;
}

@keyframes loader-dash {
  0% { 
    background-position: 100% 0; 
  }
  100% { 
    background-position: 0% 0; 
  }
}

@keyframes colorblink {
  0% { 
    background-color: #22C55E;
  }
  50% { 
     background-color: #000000; 
  }
  100% { 
     background-color: #22C55E;
  }
}

.animate-colorblink {
  animation: colorblink 1.5s ease-in-out infinite;
}
